/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import "tailwindcss";
/* @import "daisyui"; */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  box-shadow: none;
  padding: 1.5rem 2rem;
  font-size: 0.95rem;
  font-weight: 500;
  border: none;
  transition: all 0.1s linear;
}

.btn:hover {
  transform: translateY(-2px);
}

@plugin "daisyui" {
  themes: bumblebee --default;
}
